<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Portfolio Ashish kumar</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href='{% static  "assets/img/favicon.png"  %}' rel="icon">
  <link href='{% static  "assets/img/apple-touch-icon.png"  %}' rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href='{% static  "assets/vendor/bootstrap/css/bootstrap.min.css" %}'  rel="stylesheet">
  <link href='{% static  "assets/vendor/icofont/icofont.min.css" %}'  rel="stylesheet">
  <link href='{% static  "assets/vendor/boxicons/css/boxicons.min.css"  %}' rel="stylesheet">
  <link href='{% static  "assets/vendor/venobox/venobox.css"  %}'  %}' rel="stylesheet">
  <link href='{% static  "assets/vendor/owl.carousel/assets/owl.carousel.min.css"  %}' rel="stylesheet">
  <link href='{% static  "assets/vendor/aos/aos.css"  %}' rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href='{% static  "assets/css/style.css" %}'  rel="stylesheet">

</head>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <button type="button" class="mobile-nav-toggle d-xl-none"><i class="icofont-navigation-menu"></i></button>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        <img src='{% static  "assets/img/bg.jpg" %}'  alt="" class="img-fluid rounded-circle">
        <h1 class="text-light"><a href="index.html">Alex Smith</a></h1>
        <div class="social-links mt-3 text-center">
          <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
          <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
          <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
          <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
          <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>
      </div>

      <nav class="nav-menu">
        <ul>
          <li class="active"><a href="index.html"><i class="bx bx-home"></i> <span>Home</span></a></li>
          <li><a href="#about"><i class="bx bx-user"></i> <span>About</span></a></li>
          <li><a href="#resume"><i class="bx bx-file-blank"></i> <span>Resume</span></a></li>
          <li><a href="#portfolio"><i class="bx bx-book-content"></i> Portfolio</a></li>
          <li><a href="#services"><i class="bx bx-server"></i> Services</a></li>
          <li><a href="#contact"><i class="bx bx-envelope"></i> Contact</a></li>

        </ul>
      </nav><!-- .nav-menu -->
      <button type="button" class="mobile-nav-toggle d-xl-none"><i class="icofont-navigation-menu"></i></button>

    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Portfoio Details</h2>
          <ol>
            <li><a href="index.html">Home</a></li>
            <li>Portfoio Details</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="portfolio-details-container">

          <div class='{% static  "owl-carousel portfolio-details-carousel" %}' >
            <img src='{% static  "assets/img/portfolio-details-1.jpg"  %}' class="img-fluid" alt="">
            <img src='{% static  "assets/img/portfolio-details-2.jpg" %}'  class="img-fluid" alt="">
            <img src='{% static  "assets/img/portfolio-details-3.jpg"  %}' class="img-fluid" alt="">
          </div>

          <div class="portfolio-info">
            <h3>Project information</h3>
            <ul>
              <li><strong>Category</strong>: Web design</li>
              <li><strong>Client</strong>: ASU Company</li>
              <li><strong>Project date</strong>: 01 March, 2020</li>
              <li><strong>Project URL</strong>: <a href="#">www.example.com</a></li>
            </ul>
          </div>

        </div>

        <div class="portfolio-description">
          <h2>This is an example of portfolio detail</h2>
          <p>
            hye          </p>
        </div>

      </div>
    </section><!-- End Portfolio Details Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>iPortfolio</span></strong>

      </div>
      <div class="credits">
         Designed by <a href="https://www.facebook.com/ashishkumar3094/">Ashish kumar 9990007994 </a>
      </div>
    </div>
  </footer><!-- End  Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src='{% static  "assets/vendor/jquery/jquery.min.js" %}' ></script>
  <script src='{% static  "assets/vendor/bootstrap/js/bootstrap.bundle.min.js" %}' ></script>
  <script src='{% static  "assets/vendor/jquery.easing/jquery.easing.min.js" %}' ></script>
  <script src='{% static  "assets/vendor/php-email-form/validate.js" %}' ></script>
  <script src='{% static  "assets/vendor/waypoints/jquery.waypoints.min.js" %}' ></script>
  <script src='{% static  "assets/vendor/counterup/counterup.min.js" %}' ></script>
  <script src='{% static  "assets/vendor/isotope-layout/isotope.pkgd.min.js" %}' ></script>
  <script src='{% static  "assets/vendor/venobox/venobox.min.js" %}' ></script>
  <script src='{% static  "assets/vendor/owl.carousel/owl.carousel.min.js" %}' ></script>
  <script src='{% static  "assets/vendor/typed.js/typed.min.js" %}' ></script>
  <script src='{% static  "assets/vendor/aos/aos.js" %}' ></script>

  <!-- Template Main JS File -->
  <script src='{% static  "assets/js/main.js" %}' ></script>

</body>

</html>